<nav>
  <div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons left">email</i><span class="new badge color-badge" data-badge-caption="Correos">4</span></a></li>
      <li><a href="#"><i class="material-icons left">phone</i><span class="new badge color-badge" data-badge-caption="Llamadas">7</span></a></li>
      <li><a href="#"><i class="material-icons">settings</i></a></li>
      <li><a href="#"><i class="material-icons">account_circle</i> </a></li>

    </ul>
  </div>
</nav>
<ul id="slide-out" class="sidenav sidenav-fixed">
  <li><div class="user-view">
    <div class="background">
      <img src="https://htmlcolors.com/color-image/004d40.png">
    </div>
    <a href="#"><img class="circle" src="https://avatars.githubusercontent.com/u/31173782?v=4"></a>
    <a href="#"><span class="white-text name">Andrés Vizcaíno</span></a>
    <a href="#"><span class="white-text email">pipe.jaider@gmail.com</span></a>
  </div></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons color-icon">dashboard</i>Panel de control</a></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons color-icon">campaign</i>Campañas</a></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons color-icon">people</i>Pacientes</a></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons color-icon">loyalty</i>Programas</a></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons color-icon">ballot</i>Monitoreo</a></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons color-icon">assessment</i>Reportes y Estadisticas</a></li>
</ul>



<div class="fixed-action-btn">
  <a class="btn-floating btn-large #338073">
    <i class="large material-icons">help</i>
  </a>
</div>


<router-outlet></router-outlet>